DATABASE_URL=postgres://postgres:123456@postgres:5432/app
BASE_URL=http://localhost
CORS_ORIGIN=http://127.0.0.1:3000,http://127.0.0.1:7000,http://localhost:3000,http://localhost:7000,http://localhost,http://127.0.0.1
# MONGODB - REPORT ---------------------
DATABASE_REPORT_USERNAME=admin
DATABASE_REPORT_PASSWORD=123456
DATABASE_REPORT_HOST=mongo_report
DATABASE_REPORT_PORT=27017
# RABBITMQ ---------------------
AMQP_USER=admin
AMQP_PASSWORD=123
AMQP_HOST=rabbitmq
AMQP_PORT=5672
# EMAIL ------------------------
EMAIL_HOST=mail.meudominio.com
EMAIL_HOST_PORT=587
EMAIL_HOST_SECURE_SSL=false
EMAIL_HOST_USER=usuario@email.com
EMAIL_HOST_PASSWORD=usuarioemailsenha
